/* .entry_wrapper {
    background-color: aqua;
} */

/* .row {
    background-color: yellow;
} */

.form_wrapper {
    /* background-color: blueviolet; */
}

.card-header {
    background-color: rgb(114, 201, 255);
}